

<%- include('./header') %>
<div class="container">
    <h2>فرم ثبت آگهی</h2>
    <form action="/" method="POST">
        <div class="form-group">
            <label for="title">نام و نام خانوادگی:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="group">انتخاب گروه:</label>
            <input type="text" id="text" name="text" required>
        </div>
        <button type="submit">ارسال</button>
    </form>
</div>



<%- include('./footer') %>
